@import url('@/assets/fonts/index.css');

@layer base {
  :root {
    --avineo-font: 'Avineo', ui-serif, serif;
    --monument-regular-font: 'Monument Extended Regular', system-ui,
      -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans',
      sans-serif;
    --monument-ultrabold-font: 'Monument Extended Ultrabold', system-ui,
      -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans',
      sans-serif;
    --moresby-font: 'Moresby', 'Dank Mono', 'Operator Mono', 'Inconsolata',
      'Fira Mono', ui-monospace, 'SF Mono', 'Monaco', 'Droid Sans Mono',
      'Source Code Pro', monospace;

    background-color: theme('colors.black');
    color: theme('colors.white');
    font-family: var(--monument-regular-font);
  }

  ::selection {
    background-color: theme('colors.gray.100');
    color: theme('colors.red.300');
  }
}
