@layer components {
  .vertical-rl {
    writing-mode: vertical-rl;

    &--bottom {
      --tw-rotate: 180deg;

      rotate: var(--tw-rotate);

      @supports not (rotate: var(--tw)) {
        @apply rotate-180;
      }
    }
  }
}
