@import url('@/assets/fonts/index.css');

@layer utilities {
  .font-avineo {
    font-family: Avineo, ui-serif, serif;
  }

  .font-monument-regular {
    font-family: 'Monument Extended Regular', system-ui, -apple-system,
      'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif;
  }

  .font-monument-ultrabold {
    font-family: 'Monument Extended Ultrabold', system-ui, -apple-system,
      'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif;
  }

  .font-moresby {
    font-family: Moresby, 'Dank Mono', 'Operator Mono', Inconsolata, 'Fira Mono',
      ui-monospace, 'SF Mono', Monaco, 'Droid Sans Mono', 'Source Code Pro',
      monospace;
  }
}
